
.homepage{
   flex: 0.8;
   display: flex;
   flex-wrap: wrap;
   margin-left: 16%;
   /* background-color: rgb(51, 79, 79); */
   /* opacity: 0.3; */
   position: sticky;
   top: 0;
   /* border: 2px solid black; */
  
   
}
.homeline{
   
  width: 100%;
  height: 60px;
  display: flex;
  background-color: white;
  /* background-color: lightskyblue; */
  border-top: 1px soild lightgray;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 10px;
  position:sticky;
  z-index: 50;
  top: 60px;
  left: 16%;

} 
.video{
   display: flex;
   flex-wrap: wrap;
}

#line{
  border-radius: 15px;
  height: 24px;
  background-color:white;
  width: fit-content;
  border: 1px solid lightgray;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px 10px;
  /* background-color: aqua; */
}
#line:hover{
   background-color: lightgray;
}

   
